# fly.toml app configuration file generated for bro-app-backend on 2025-11-16T13:37:58-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bro-app-backend'
primary_region = 'dfw'

[build]
  builder = 'paketobuildpacks/builder:base'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 250
    soft_limit = 200

  [[http_service.checks]]
    interval = '15s'
    timeout = '2s'

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
